version: '3.9'

services:
  web:
    build: .
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:5000
    volumes:
      - .:/app
    env_file: .env
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/postgres
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
      CACHE_URL: redis://redis:6379/1
      CHANNEL_REDIS_URL: redis://redis:6379/2
    ports:
      - "8000:5000"
    depends_on:
      - db
      - redis

  celery:
    build: .
    command: celery -A backend worker -l info
    volumes:
      - .:/app
    env_file: .env
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/postgres
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
      CACHE_URL: redis://redis:6379/1
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  postgres_data:
